Необходимые библиотеки для работы программы:

import tkinter as tk - библиотека для графики
    Используется для графической оболочки приложения, всех его окон
from math import copysign, fabs, floor, isfinite, modf, factorial, ceil, log - функции из математической библиотеки
    Используется для обработки усложненных математических задач
import pandas as pd - библиотека для работы с удобными таблицами
    Используется для работы со структурами DataFrame, удобных для табличного представления информации
import unittest - библиотека для создания тестов
    Используется для создания тестов для функции